PKGBUILDs/**/*.tar
PKGBUILDs/**/*.tar.*
PKGBUILDs/**/*.jar
PKGBUILDs/**/*.exe
PKGBUILDs/**/*.msi
PKGBUILDs/**/*.zip
PKGBUILDs/**/*.tgz
PKGBUILDs/**/*.log
PKGBUILDs/**/*.log.*
PKGBUILDs/**/*.sig

PKGBUILDs/**/pkg/
PKGBUILDs/**/src/

**/archlinux-install.log
